body{
    background-color: palevioletred;
}
h1{
    color: rebeccapurple;
    background-color: plum;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#show_sketch{
       float: right; 
        font-family: cursive;
}
p{
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
}
canvas{
    border: 5px solid white;
    border-radius: 25px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow:1px 1px 38px grey;}
    to{box-shadow: 1px 1px 38px white;}
} 